<% include ../partials/header.ejs %>
<!-- embed my content-->
<div class="container">

    <div class="row">
        <div  class="col-md-offset-3 col-md-6">
            <br>
            <h1><%= title %></h1>
            <!--button to add new contact -->
            <a href="/contact-list/add" class="btn alert-primary bi bi-person-plus-fill">&nbsp;New Contact</a>
            <br><br>
            
            <table class="table table-bordered table-striped table-hover" >

                <tr class="table-warning">
                    <!--Table header -->
                    <th class="text-center" id=''>First Name</th>
                    <th class="text-center" id=''>Last Name</th>
                    <th class="text-center" id=''>Age</th>
                    <th class="text-center" id=''></th>
                    <th class="text-center" id=''></th>
                </tr>
                <% for(let count =0; count <contactList.length; count++){%>
                <tr>
                    <td class="text-center"><%=contactList[count].fName %></td>
                    <td class="text-center"><%=contactList[count].lName %></td>
                    <td class="text-center"><%=contactList[count].age %></td>
                    <!--button for update/edit-->
                    <td class="text-center">
                        <a href="/contact-list/edit/<%= contactList[count]._id%>" 
                            class="btn alert-primary bi bi-pencil-fill"> &nbsp;Edit</a>
                        
                    </td>
                    <!--button for delete the contact-->
                    <td class="text-center">
                        <a href="/contact-list/delete/<%= contactList[count]._id%>" 
                            class="btn alert-danger bi bi-trash-fill" onclick="if (!confirm('Are you sure?')) { return false }"> &nbsp;Delete</a>
                        
                    </td>

                </tr>

                <%}%>
            </table>
        </div>
    </div>
</div>
 
    


<% include ../partials/footer.ejs %>